.git
.github
.gitignore
.venv
venv
mlops
__pycache__
*.pyc

data/raw
data/processed

mlruns
mlflow.db

models/logistic_regression.joblib
models/random_forest.joblib
models/xgboost.joblib
models/gradient_boosting.joblib

reports
tests
src

Dockerfile
.dockerignore